<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf='title==="Audi A1"'>Si el carro a rifa era un Audi</div>
<button (click)="addCarros()">Agregar nuevo carro</button>
<ul>
  <li *ngIf="carros.length===0">No exite ningun carro registrado</li>
  <li *ngFor="let  nombres of carros ; index as i">
    {{nombres}} {{i}}
    <button (click)="deleteCarros(i)">Eliminar carro</button>

  </li>
</ul>

<div *ngFor="let imgenesC of imgCarros">
    {{ imgenesC.title }}
    <img [src]="imgenesC.image" alt="">
    {{ imgenesC.price}}

</div>
